@import "./index.css";

.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height:80px;

}

.hostel-button {
	border: none;
	border-radius: 50%;
	background:transparent;
	color: #264653;
	padding: 10px;
}
.hostel-button:hover{
	background: rgba(211, 211, 211, 0.5);
}

.search-bar {
	background: #f4a26169;
	border: none;
	padding-left: 1rem;
	font-size: 1rem;
	font-family: "Poppins-SemiBold";
	outline: none;
	border-radius: 1.25rem 0rem 0rem 1.25rem;
	flex-grow: 2;
	height: 2.5rem;
	width: 100%;
}

.search-button {
	border: none;
	border-radius: 0% 2rem 2rem 0%;
	padding: 0px 10px 0px 10px;
	background: #f4a26195;
	color: #264653;
}

.search-button:active {
	background: #f4a26169;
}

.backdrop {
	position: fixed;
	z-index: 13;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.hostel-form {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	color: #264653;
	background-color: white;
	font-family: "Poppins-Medium";
	font-size: 1.5em;
	border-radius: 20px;
	padding: 1rem;
	text-align: left;
	width: 32vw;
	z-index: 15;
	position: fixed;
	top: 10vh;
	left: calc(50% - 16vw);
}

.hostel-form-input {
	border: none;
	background-color: #f4a26169;
	border-radius: 20px;
	padding-left: 20px;
	outline: none;
	margin-left: 5%;
	font-family: "Poppins-Light";
	float: right;
	font-size: 0.7em;
}

.submit-button {
	border: 2px solid;
	border-color: #e76f51;
	background-color: #e76f51;
	color: #264653;
	font-family: "Poppins-Medium";
	font-size: 0.75em;
	padding: 5px;
	border-radius: 30px;
	margin: 0px 20px;
}

.cancel-button {
	border: 2px solid;
	border-color: #264653;
	color: #264653;
	background: none;
	font-family: "Poppins-Medium";
	font-size: 0.75em;
	padding: 5px;
	border-radius: 30px;
}


.links:hover{
	background-color: rgba(211, 211, 211, 0.5);
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	background-color: white;
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
	padding-top: 1%;
	padding-bottom: 1%;
	overflow-x: hidden;
	transition: 0.5s;
  }
  .drop{
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 19;
	  top: 0;
	  left: 0;
	  overflow-x: hidden;
	  transition: 0.1s;
	}